<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lwq.mybatis.mapper.BlogMapper">

    <resultMap id="blogResultMap" type="Blog" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="author_id" property="authorId" />
    </resultMap>

    <!-- statement -->
    <select id="selectBlog" parameterType="int" resultType="Blog" >
      select
          id,
          title,
          author_id as authorId,
          state,
          featured,
          style
      from Blog where id = #{id}
    </select>

    <select id="selectBlog2" parameterType="int" resultMap="blogResultMap" >
        SELECT * FROM Blog WHERE id = #{id}
    </select>
</mapper>